.link {
    text-decoration: none;
    color: var(--text-color);

    transition: 0.3s ease all;

    font-weight: 700;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.link{
    a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: 700;
        vertical-align: top;
    }
}

.styles-link {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: var(--primary-color);;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

}

/*.link:hover::after {*/
/*    width: 100%;*/
/*}*/